# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Nerine.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Nerine\.idea\.idea.Nerine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

discord.xml
encodings.xml
